<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Расчёт НОД и НОК</title>
  <!-- подключение стилей bootstrap -->
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
  <h1>Онлайн калькулятор НОД и НОК</h1>

  <div>Найдите НОД и НОК двух целых чисел</div>
  <br>
  <a th:href="@{/calculation-form}">Приступить к поиску</a>
  <br><br>
  <div>Разработал студент группы Java213: <b>Бурых В.Д. &copy</b></div>
</div>
</body>
</html>